.w-full.max-w-xs
  %form.bg-white.shadow-md.rounded.px-8.pt-6.pb-8.mb-4
    = form_with model: @blog, url: blogs_path do |f|
      .mb-4
        %label.block.text-gray-700.text-sm.font-bold.mb-2 Title
        .shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-gray-700.leading-tight.focus:outline-none.focus:shadow-outline
          = f.text_field :title, required: true

      .mb-6
        %label.block.text-gray-700.text-sm.font-bold.mb-2 Body
        .shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-gray-700.leading-tight.focus:outline-none.focus:shadow-outline
          = f.text_area :body, required: true

      .flex.items-center.justify-between
        .bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-2.px-4.rounded.focus:outline-none.focus:shadow-outline
          = f.submit "Post"