%h1 Super brand new Recipe
-# = simple_form_for @recipe,
-#   url: new_recipe_path do |f|
-#   = f.input :name,
-#     label: "Recipe Name",
-#     error: "Name can't be blank.",
-#     autofocus: true,
-#     autocomplete: :off

-#   = f.button :submit, "Create Recipe"