* {
  cursor: url("cursor/0001.png"), auto;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 400ms infinite;
}

.cursor {
  height: 3rem;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 3rem;
}

@-webkit-keyframes cursor {
  0% {cursor: url("cursor/0001.png"), auto;}
  4% {cursor: url("cursor/0002.png"), auto;}
  8% {cursor: url("cursor/0003.png"), auto;}
  12% {cursor: url("cursor/0004.png"), auto;}
  16% {cursor: url("cursor/0005.png"), auto;}
  20% {cursor: url("cursor/0006.png"), auto;}
  24% {cursor: url("cursor/0007.png"), auto;}
  28% {cursor: url("cursor/0008.png"), auto;}
  32% {cursor: url("cursor/0009.png"), auto;}
  36% {cursor: url("cursor/0010.png"), auto;}
  40% {cursor: url("cursor/0011.png"), auto;}
  44% {cursor: url("cursor/0012.png"), auto;}
  48% {cursor: url("cursor/0013.png"), auto;}
  52% {cursor: url("cursor/0014.png"), auto;}
  56% {cursor: url("cursor/0015.png"), auto;}
  60% {cursor: url("cursor/0016.png"), auto;}
  64% {cursor: url("cursor/0017.png"), auto;}
  68% {cursor: url("cursor/0018.png"), auto;}
  72% {cursor: url("cursor/0019.png"), auto;}
  76% {cursor: url("cursor/0020.png"), auto;}
  80% {cursor: url("cursor/0021.png"), auto;}
  84% {cursor: url("cursor/0022.png"), auto;}
  88% {cursor: url("cursor/0023.png"), auto;}
  92% {cursor: url("cursor/0024.png"), auto;}
  96% {cursor: url("cursor/0025.png"), auto;}
  100% {cursor: url("cursor/0025.png"), auto;}
} 

@keyframes cursor {
  0% {cursor: url("cursor/0001.png"), auto;}
  4% {cursor: url("cursor/0002.png"), auto;}
  8% {cursor: url("cursor/0003.png"), auto;}
  12% {cursor: url("cursor/0004.png"), auto;}
  16% {cursor: url("cursor/0005.png"), auto;}
  20% {cursor: url("cursor/0006.png"), auto;}
  24% {cursor: url("cursor/0007.png"), auto;}
  28% {cursor: url("cursor/0008.png"), auto;}
  32% {cursor: url("cursor/0009.png"), auto;}
  36% {cursor: url("cursor/0010.png"), auto;}
  40% {cursor: url("cursor/0011.png"), auto;}
  44% {cursor: url("cursor/0012.png"), auto;}
  48% {cursor: url("cursor/0013.png"), auto;}
  52% {cursor: url("cursor/0014.png"), auto;}
  56% {cursor: url("cursor/0015.png"), auto;}
  60% {cursor: url("cursor/0016.png"), auto;}
  64% {cursor: url("cursor/0017.png"), auto;}
  68% {cursor: url("cursor/0018.png"), auto;}
  72% {cursor: url("cursor/0019.png"), auto;}
  76% {cursor: url("cursor/0020.png"), auto;}
  80% {cursor: url("cursor/0021.png"), auto;}
  84% {cursor: url("cursor/0022.png"), auto;}
  88% {cursor: url("cursor/0023.png"), auto;}
  92% {cursor: url("cursor/0024.png"), auto;}
  96% {cursor: url("cursor/0025.png"), auto;}
  100% {cursor: url("cursor/0025.png"), auto;}
}