.title {
  color: var(--light-green);
  font-family: 'Blox';

  &:hover {
    color: white;
  }
}

.font-kong {
  font-family: 'Kong';

  &:hover {
    color: var(--neon-purple);
    transition-duration: 150ms;
  }
}