%header
  .flex.items-center.bg-teal-500.p-6
    .title.text-5xl= link_to "fRaMeLeSs", root_path

    .font-kong.ml-4.px-3.py-2.text-white
      = link_to "Blog", blogs_path

    .font-kong.ml-4.px-3.py-2.text-white
      Sports

    .font-kong.ml-4.px-3.py-2.text-white
      Data
